<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>
  <body>
    <h3><%= title %></h3>
    <p class="order-overview__wrapper">Welcome to <%= title %></p>
    <div id="app">
    </div>
    
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
